@using BookManager.ViewModels;
@using BookManager.Data.Enum;
@model CreateBookViewModel

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="form-group">
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" class="form-control" placeholder="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AuthorName">Author Name</label>
                    <input asp-for="AuthorName" class="form-control" placeholder="Author's Name">
                    <span asp-validation-for="AuthorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AuthorSurname">Author Surname</label>
                    <input asp-for="AuthorSurname" class="form-control" placeholder="Author's Surname">
                    <span asp-validation-for="AuthorSurname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BookShortInfo">BookShortInfo</label>
                    <input asp-for="BookShortInfo" class="form-control" placeholder="BookShortInfo">
                    <span asp-validation-for="BookShortInfo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Genre">Genre</label>
                    <select asp-for="Genre" asp-items="@Html.GetEnumSelectList<Genre>()" class="form-control">
                        <option>--Select--</option>
                    </select>
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>
                @if (TempData["AuthorNotFound"] != null && (bool)TempData["AuthorNotFound"])
                {
                    <div class="form-group">
                        <label for="AuthorShortInfo">Additional information:</label>
                        <input type="text" class="form-control" id="AuthorShortInfo" name="AuthorShortInfo" placeholder="Additional information">
                        <span class="text-danger">@Html.ValidationMessage("AuthorShortInfo")</span>
                    </div>
                }
                <div class="form-group">
                    <label asp-for="Image">Image</label>
                    <input asp-for="Image" type="file" class="form-control-file" placeholder="Image">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating">Rating</label>
                    <input asp-for="Rating" class="form-control" placeholder="Rating">
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
